h1 {
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}

h2 {
    font-family: monospace;
    font-size: 12pt;
    text-align: end;
}

h3 {
    font-family: sans-serif, monospace;
    text-align: justify;
}