:root {
    --main-bg-color: rgb(143, 14, 248);
    --main576-bg-color: rgb(255, 140, 0);
    --main768-bg-color: rgb(26, 167, 136);
    --main992-bg-color: rgb(139, 12, 118);
    --main1200-bg-color: rgb(49, 184, 44);
    --main1400-bg-color: rgb(218, 84, 31);
    --flag-yellow: yellow;
    --flag-green: green;
    --flag-red: red;
}
/* kad sutipltų į visą ektaną */
html, body, main {
    height: 100%;
}
/* panaikinti margin ir padaryti back ground */
body {
    background-color: var(--main-bg-color);
    margin: 0;
}

.test {
    display: flex;
    position: relative;
    max-height: 100%;
}

p {
    display: none;
    width: 26px;
}

.first-body {
    display: block;
    width: 75%;
    background-size: contain;
    background-position: center;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Marijampol%C4%97.JPG/1280px-Marijampol%C4%97.JPG);
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
  }

.second-body {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 75px;
}

footer div {
    align-content: stretch;
    height: 75px;
    flex: 1;
}

.test1:hover {
    display: block;
}

#color1 {
    background-color: var(--flag-yellow);
}

#color2 {
    background-color: var(--flag-green);
}

#color3 {
    background-color: var(--flag-red);
}

@media (min-width: 576px) {
    body {
        background-color: var(--main576-bg-color);
    }
    .first-body {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0a/Alytus.png);
    }
    .text2:hover {
        display: block;
    }
}

@media (min-width: 768px) {
    body {
        background-color: var(--main768-bg-color);
    }
    .first-body {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Panev%C4%97%C5%BEys001.JPG/1280px-Panev%C4%97%C5%BEys001.JPG);
    }
    .text3:hover {
        display: block;
    }
}

@media (min-width: 992px) {
    body {
        background-color: var(--main992-bg-color);
    }
    .first-body {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Calle_Vilnius%2C_Siauliai%2C_Lituania%2C_2012-08-09%2C_DD_01.JPG/1920px-Calle_Vilnius%2C_Siauliai%2C_Lituania%2C_2012-08-09%2C_DD_01.JPG);
    }
    .text4:hover {
        display: block;
    }
}

@media (min-width: 1200px) {
    body {
        background-color: var(--main1200-bg-color);
    }
    .first-body {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Quite_summer_evening_in_the_port_city_Klaipeda.jpg/1024px-Quite_summer_evening_in_the_port_city_Klaipeda.jpg);
    }
    .text5:hover {
        display: block;
    }
}

@media (min-width: 1400px) {
    body {
        background-color: var(--main1400-bg-color);
    }
    .first-body {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Vytautas_the_Great_Bridge_from_hill%2C_Kaunas%2C_Lithuania_-_Diliff.jpg/1024px-Vytautas_the_Great_Bridge_from_hill%2C_Kaunas%2C_Lithuania_-_Diliff.jpg);
    }
    .text6:hover {
        display: block;
    }
}